In [1]:
# 라이브러리 임포트
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

# 타이타닉 데이터셋 로드
df = sns.load_dataset('titanic') 

# 인코딩 및 공학 실습에 필요한 컬럼만 선택
df_encode = df[['sex', 'embarked', 'pclass', 'sibsp', 'parch', 'age']]

# 결측치 처리
df_encode['embarked'].fillna(df_encode['embarked'].mode()[0], inplace=True)
df_encode['age'].fillna(df_encode['age'].median(), inplace=True)

df_encode.head()

C:\Users\22138153\AppData\Local\Temp\ipykernel_23932\3487553802.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_encode['embarked'].fillna(df_encode['embarked'].mode()[0], inplace=True)
C:\Users\22138153\AppData\Local\Temp\ipykernel_23932\3487553802.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_encode['age'].fillna(df_encode['age'].median(), inplace=True)

      sex embarked  pclass  sibsp  parch   age
0    male        S       3      1      0  22.0
1  female        C       1      1      0  38.0
2  female        S       3      0      0  26.0
3  female        S       1      1      0  35.0
4    male        S       3      0      0  35.0

In [2]:
df_encode.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sex       891 non-null    object
 1   embarked  891 non-null    object
 2   pclass    891 non-null    int64
 3   sibsp     891 non-null    int64
 4   parch     891 non-null    int64
 5   age       891 non-null    float64
dtypes: float64(1), int64(3), object(2)
memory usage: 41.9+ KB

In [3]:
# 'sex'와 'embarked' 컬럼에 원-핫 인코딩 적용

# Pandas get_dummies() 사용
df_encoded = pd.get_dummies(df_encode, columns=['sex', 'embarked'], drop_first=True, dtype=int)

# drop_first=True: 첫 번째 범주('female' 또는 'S')를 제외하고 N-1개 특성만 생성하여 다중공선성 방지

df_encoded.head()

   pclass  sibsp  parch   age  sex_male  embarked_Q  embarked_S
0       3      1      0  22.0         1           0           1
1       1      1      0  38.0         0           0           0
2       3      0      0  26.0         0           0           1
3       1      1      0  35.0         0           0           1
4       3      0      0  35.0         1           0           1

In [4]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pclass      891 non-null    int64
 1   sibsp       891 non-null    int64
 2   parch       891 non-null    int64
 3   age         891 non-null    float64
 4   sex_male    891 non-null    int64
 5   embarked_Q  891 non-null    int64
 6   embarked_S  891 non-null    int64
dtypes: float64(1), int64(6)
memory usage: 48.9 KB

In [5]:
# 'sex'와 'embarked' 컬럼에 원-핫 인코딩 적용

# Pandas get_dummies() 사용
df_encoded = pd.get_dummies(df_encode, columns=['sex', 'embarked'], drop_first=True, dtype=int)

df_encoded.head()

   pclass  sibsp  parch   age  sex_male  embarked_Q  embarked_S
0       3      1      0  22.0         1           0           1
1       1      1      0  38.0         0           0           0
2       3      0      0  26.0         0           0           1
3       1      1      0  35.0         0           0           1
4       3      0      0  35.0         1           0           1

In [6]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pclass      891 non-null    int64
 1   sibsp       891 non-null    int64
 2   parch       891 non-null    int64
 3   age         891 non-null    float64
 4   sex_male    891 non-null    int64
 5   embarked_Q  891 non-null    int64
 6   embarked_S  891 non-null    int64
dtypes: float64(1), int64(6)
memory usage: 48.9 KB